/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


.jumbotron {
	background: url('../img/background.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
}


.col-md-3 {
	align: center;
	text-align: center;
	float: left;
}

.skiimg {
	max-width: 30%;
	height: auto;
	padding-bottom: 10px;
	align: center; 	
}

.btn btn-default {
	align: center;
}

